<!-- <div class="posts">
  <div class="post" *ngFor="let post of prom | async">
    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>
  </div>
</div> -->

<p>{{ 'en un lugar de la Mancha' | vuelta }}</p>
<p>{{ 'Esta tarde repaso Angular' | vuelta }}</p>

<p>{{ 'mario giron'| capitalize }}</p>
<!-- 


<p>{{ numero | number:'10.1-4' }}</p>
<p>{{ precio | currency:'EUR' }}</p>
<p>{{ fechaActual | date:'dd/MM/yyyy HH:mm.ss' }}</p>
<p>{{ numAleatorio | percent:'1.2-2' }}</p>
<p>{{ cadena | uppercase }}</p>
<p>{{ cadena | lowercase }}</p>
<div>
  <input type="range" id="rangeInicio" min="0" [max]="fin" [value]="inicio" step="1" (input)="onChange($event)">
  <input type="range" id="rangeFin" [min]="inicio" [max]="animales.length" [value]="fin" step="1"
    (input)="onChange($event)">
</div>
<ul>
  <li *ngFor="let animal of animales | slice:inicio:fin ">{{ animal }}</li>
</ul> -->