<div class="formulario">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" [(ngModel)]="nuevoContacto.nombre">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]="nuevoContacto.email">
    </div>
    <div class="form-group">
        <label>Teléfono</label>
        <input type="text" [(ngModel)]="nuevoContacto.telefono">
    </div>
    <div class="form-group">
        <label>Dirección</label>
        <input type="text" [(ngModel)]="nuevoContacto.direccion">
    </div>
    <button (click)="onClick()">Enviar</button>
</div>
{{ nuevoContacto | json }}